# coding: utf-8
- provide(:title, 'Справка')
h1 Справочная информация
h2 Способы оплаты
p В данный момент доступны следующие варианты оплаты заказов в нашем интернет-магазине:
ul
	li На личный расчет — оплата наличными при получении товара.
	li Безналичный расчет — оплата по счету через банк.