# coding: utf-8
- provide(:title, 'Справка')
h1 Справочная информация
h2 Как сделать заказ?
ol
	li На данный момент заказать товары можно по телефону в Ижевске 45-21-40.
	li Либо можно отправить заявку с заказом в произвольной форме через страницу обратной связи.
	li Либо купить товары в нашем магазине по адресу г. Ижевск, ул. Буммашевская, 7/7.
h2 Способы доставки
p Товар можно доставить по Ижевску на Газели грузоподъёмностью 1,5 тонны за 300 рублей. Если объём заказанных товаров небольшой, его может доставить курьер за 50 рублей. Стоимость доставки может быть включена в стоимость некоторых видов товаров (песок, ОПГС, ПГС, гравий, кирпич). Или товар можно забрать самовывозом в нашем офисе по адресу г. Ижевск, ул. Буммашевская, 7/7.
p Если у Вас остались вопросы или появились какие-то замечания и предложения о информации и работе сайта, обращайтесь к нам через ICQ 443986738 или по телефону 8(3412) 45-21-40. Вы также можете написать нам через страницу страницу обратной связи.
p Удачных покупок!
h2 Способы оплаты
p В данный момент доступны следующие варианты оплаты заказов в нашем интернет-магазине:
ul
	li На личный расчет — оплата наличными при получении товара.
	li Безналичный расчет — оплата по счету через банк.